In [11]:
pip install keras_tuner

Collecting keras_tuner
  Obtaining dependency information for keras_tuner from https://files.pythonhosted.org/packages/db/5d/945296512980b0827e93418514c8be9236baa6f0a1e8ca8be3a2026665b0/keras_tuner-1.4.7-py3-none-any.whl.metadata
  Downloading keras_tuner-1.4.7-py3-none-any.whl.metadata (5.4 kB)
Requirement already satisfied: keras in /Users/saleepshrestha/anaconda3/lib/python3.11/site-packages (from keras_tuner) (3.4.1)
Requirement already satisfied: packaging in /Users/saleepshrestha/anaconda3/lib/python3.11/site-packages (from keras_tuner) (23.1)
Requirement already satisfied: requests in /Users/saleepshrestha/anaconda3/lib/python3.11/site-packages (from keras_tuner) (2.31.0)
Collecting kt-legacy (from keras_tuner)
  Obtaining dependency information for kt-legacy from https://files.pythonhosted.org/packages/16/53/aca9f36da2516db008017db85a1f3cafaee0efc5fc7a25d94c909651792f/kt_legacy-1.0.5-py3-none-any.whl.metadata
  Downloading kt_legacy-1.0.5-py3-none-any.whl.metadata (221 bytes)
Requirement already satisfied: absl-py in /Users/saleepshrestha/anaconda3/lib/python3.11/site-packages (from keras->keras_tuner) (2.1.0)
Requirement already satisfied: numpy in /Users/saleepshrestha/anaconda3/lib/python3.11/site-packages (from keras->keras_tuner) (1.24.3)
Requirement already satisfied: rich in /Users/saleepshrestha/anaconda3/lib/python3.11/site-packages (from keras->keras_tuner) (13.7.1)
Requirement already satisfied: namex in /Users/saleepshrestha/anaconda3/lib/python3.11/site-packages (from keras->keras_tuner) (0.0.7)
Requirement already satisfied: h5py in /Users/saleepshrestha/anaconda3/lib/python3.11/site-packages (from keras->keras_tuner) (3.10.0)
Requirement already satisfied: optree in /Users/saleepshrestha/anaconda3/lib/python3.11/site-packages (from keras->keras_tuner) (0.10.0)
Requirement already satisfied: ml-dtypes in /Users/saleepshrestha/anaconda3/lib/python3.11/site-packages (from keras->keras_tuner) (0.3.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/saleepshrestha/anaconda3/lib/python3.11/site-packages (from requests->keras_tuner) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/saleepshrestha/anaconda3/lib/python3.11/site-packages (from requests->keras_tuner) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/saleepshrestha/anaconda3/lib/python3.11/site-packages (from requests->keras_tuner) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /Users/saleepshrestha/anaconda3/lib/python3.11/site-packages (from requests->keras_tuner) (2023.7.22)
Requirement already satisfied: typing-extensions>=4.0.0 in /Users/saleepshrestha/anaconda3/lib/python3.11/site-packages (from optree->keras->keras_tuner) (4.7.1)
Requirement already satisfied: markdown-it-py>=2.2.0 in /Users/saleepshrestha/anaconda3/lib/python3.11/site-packages (from rich->keras->keras_tuner) (2.2.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /Users/saleepshrestha/anaconda3/lib/python3.11/site-packages (from rich->keras->keras_tuner) (2.15.1)
Requirement already satisfied: mdurl~=0.1 in /Users/saleepshrestha/anaconda3/lib/python3.11/site-packages (from markdown-it-py>=2.2.0->rich->keras->keras_tuner) (0.1.0)
Downloading keras_tuner-1.4.7-py3-none-any.whl (129 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 129.1/129.1 kB 4.7 MB/s eta 0:00:00
Downloading kt_legacy-1.0.5-py3-none-any.whl (9.6 kB)
Installing collected packages: kt-legacy, keras_tuner
Successfully installed keras_tuner-1.4.7 kt-legacy-1.0.5
Note: you may need to restart the kernel to use updated packages.

In [13]:
pip install tensorflow-decision-forests

Collecting tensorflow-decision-forests
  Obtaining dependency information for tensorflow-decision-forests from https://files.pythonhosted.org/packages/e1/b1/1edf4b2126349a158050b4734b860fa7a776f60c54665dc48eb5e329945e/tensorflow_decision_forests-1.9.0-cp311-cp311-macosx_12_0_arm64.whl.metadata
  Downloading tensorflow_decision_forests-1.9.0-cp311-cp311-macosx_12_0_arm64.whl.metadata (6.0 kB)
Requirement already satisfied: numpy in /Users/saleepshrestha/anaconda3/lib/python3.11/site-packages (from tensorflow-decision-forests) (1.24.3)
Requirement already satisfied: pandas in /Users/saleepshrestha/anaconda3/lib/python3.11/site-packages (from tensorflow-decision-forests) (2.0.3)
Requirement already satisfied: tensorflow~=2.16.1 in /Users/saleepshrestha/anaconda3/lib/python3.11/site-packages (from tensorflow-decision-forests) (2.16.1)
Requirement already satisfied: six in /Users/saleepshrestha/anaconda3/lib/python3.11/site-packages (from tensorflow-decision-forests) (1.16.0)
Requirement already satisfied: absl-py in /Users/saleepshrestha/anaconda3/lib/python3.11/site-packages (from tensorflow-decision-forests) (2.1.0)
Requirement already satisfied: wheel in /Users/saleepshrestha/anaconda3/lib/python3.11/site-packages (from tensorflow-decision-forests) (0.38.4)
Requirement already satisfied: wurlitzer in /Users/saleepshrestha/anaconda3/lib/python3.11/site-packages (from tensorflow-decision-forests) (3.0.2)
Collecting tf-keras~=2.16 (from tensorflow-decision-forests)
  Obtaining dependency information for tf-keras~=2.16 from https://files.pythonhosted.org/packages/75/aa/cf09f8956d4f276f655b13674e15d8d6015fd832f9689aa9ff2a515781ab/tf_keras-2.16.0-py3-none-any.whl.metadata
  Downloading tf_keras-2.16.0-py3-none-any.whl.metadata (1.6 kB)
Requirement already satisfied: astunparse>=1.6.0 in /Users/saleepshrestha/anaconda3/lib/python3.11/site-packages (from tensorflow~=2.16.1->tensorflow-decision-forests) (1.6.3)
Requirement already satisfied: flatbuffers>=23.5.26 in /Users/saleepshrestha/anaconda3/lib/python3.11/site-packages (from tensorflow~=2.16.1->tensorflow-decision-forests) (24.3.7)
Requirement already satisfied: gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1 in /Users/saleepshrestha/anaconda3/lib/python3.11/site-packages (from tensorflow~=2.16.1->tensorflow-decision-forests) (0.5.4)
Requirement already satisfied: google-pasta>=0.1.1 in /Users/saleepshrestha/anaconda3/lib/python3.11/site-packages (from tensorflow~=2.16.1->tensorflow-decision-forests) (0.2.0)
Requirement already satisfied: h5py>=3.10.0 in /Users/saleepshrestha/anaconda3/lib/python3.11/site-packages (from tensorflow~=2.16.1->tensorflow-decision-forests) (3.10.0)
Requirement already satisfied: libclang>=13.0.0 in /Users/saleepshrestha/anaconda3/lib/python3.11/site-packages (from tensorflow~=2.16.1->tensorflow-decision-forests) (18.1.1)
Requirement already satisfied: ml-dtypes~=0.3.1 in /Users/saleepshrestha/anaconda3/lib/python3.11/site-packages (from tensorflow~=2.16.1->tensorflow-decision-forests) (0.3.2)
Requirement already satisfied: opt-einsum>=2.3.2 in /Users/saleepshrestha/anaconda3/lib/python3.11/site-packages (from tensorflow~=2.16.1->tensorflow-decision-forests) (3.3.0)
Requirement already satisfied: packaging in /Users/saleepshrestha/anaconda3/lib/python3.11/site-packages (from tensorflow~=2.16.1->tensorflow-decision-forests) (23.1)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.20.3 in /Users/saleepshrestha/anaconda3/lib/python3.11/site-packages (from tensorflow~=2.16.1->tensorflow-decision-forests) (4.25.3)
Requirement already satisfied: requests<3,>=2.21.0 in /Users/saleepshrestha/anaconda3/lib/python3.11/site-packages (from tensorflow~=2.16.1->tensorflow-decision-forests) (2.31.0)
Requirement already satisfied: setuptools in /Users/saleepshrestha/anaconda3/lib/python3.11/site-packages (from tensorflow~=2.16.1->tensorflow-decision-forests) (68.0.0)
Requirement already satisfied: termcolor>=1.1.0 in /Users/saleepshrestha/anaconda3/lib/python3.11/site-packages (from tensorflow~=2.16.1->tensorflow-decision-forests) (2.4.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /Users/saleepshrestha/anaconda3/lib/python3.11/site-packages (from tensorflow~=2.16.1->tensorflow-decision-forests) (4.7.1)
Requirement already satisfied: wrapt>=1.11.0 in /Users/saleepshrestha/anaconda3/lib/python3.11/site-packages (from tensorflow~=2.16.1->tensorflow-decision-forests) (1.14.1)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /Users/saleepshrestha/anaconda3/lib/python3.11/site-packages (from tensorflow~=2.16.1->tensorflow-decision-forests) (1.62.1)
Requirement already satisfied: tensorboard<2.17,>=2.16 in /Users/saleepshrestha/anaconda3/lib/python3.11/site-packages (from tensorflow~=2.16.1->tensorflow-decision-forests) (2.16.2)
Requirement already satisfied: keras>=3.0.0 in /Users/saleepshrestha/anaconda3/lib/python3.11/site-packages (from tensorflow~=2.16.1->tensorflow-decision-forests) (3.4.1)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /Users/saleepshrestha/anaconda3/lib/python3.11/site-packages (from tensorflow~=2.16.1->tensorflow-decision-forests) (0.36.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/saleepshrestha/anaconda3/lib/python3.11/site-packages (from pandas->tensorflow-decision-forests) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/saleepshrestha/anaconda3/lib/python3.11/site-packages (from pandas->tensorflow-decision-forests) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /Users/saleepshrestha/anaconda3/lib/python3.11/site-packages (from pandas->tensorflow-decision-forests) (2023.3)
Requirement already satisfied: rich in /Users/saleepshrestha/anaconda3/lib/python3.11/site-packages (from keras>=3.0.0->tensorflow~=2.16.1->tensorflow-decision-forests) (13.7.1)
Requirement already satisfied: namex in /Users/saleepshrestha/anaconda3/lib/python3.11/site-packages (from keras>=3.0.0->tensorflow~=2.16.1->tensorflow-decision-forests) (0.0.7)
Requirement already satisfied: optree in /Users/saleepshrestha/anaconda3/lib/python3.11/site-packages (from keras>=3.0.0->tensorflow~=2.16.1->tensorflow-decision-forests) (0.10.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/saleepshrestha/anaconda3/lib/python3.11/site-packages (from requests<3,>=2.21.0->tensorflow~=2.16.1->tensorflow-decision-forests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/saleepshrestha/anaconda3/lib/python3.11/site-packages (from requests<3,>=2.21.0->tensorflow~=2.16.1->tensorflow-decision-forests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/saleepshrestha/anaconda3/lib/python3.11/site-packages (from requests<3,>=2.21.0->tensorflow~=2.16.1->tensorflow-decision-forests) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /Users/saleepshrestha/anaconda3/lib/python3.11/site-packages (from requests<3,>=2.21.0->tensorflow~=2.16.1->tensorflow-decision-forests) (2023.7.22)
Requirement already satisfied: markdown>=2.6.8 in /Users/saleepshrestha/anaconda3/lib/python3.11/site-packages (from tensorboard<2.17,>=2.16->tensorflow~=2.16.1->tensorflow-decision-forests) (3.4.1)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in /Users/saleepshrestha/anaconda3/lib/python3.11/site-packages (from tensorboard<2.17,>=2.16->tensorflow~=2.16.1->tensorflow-decision-forests) (0.7.2)
Requirement already satisfied: werkzeug>=1.0.1 in /Users/saleepshrestha/anaconda3/lib/python3.11/site-packages (from tensorboard<2.17,>=2.16->tensorflow~=2.16.1->tensorflow-decision-forests) (2.2.3)
Requirement already satisfied: MarkupSafe>=2.1.1 in /Users/saleepshrestha/anaconda3/lib/python3.11/site-packages (from werkzeug>=1.0.1->tensorboard<2.17,>=2.16->tensorflow~=2.16.1->tensorflow-decision-forests) (2.1.1)
Requirement already satisfied: markdown-it-py>=2.2.0 in /Users/saleepshrestha/anaconda3/lib/python3.11/site-packages (from rich->keras>=3.0.0->tensorflow~=2.16.1->tensorflow-decision-forests) (2.2.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /Users/saleepshrestha/anaconda3/lib/python3.11/site-packages (from rich->keras>=3.0.0->tensorflow~=2.16.1->tensorflow-decision-forests) (2.15.1)

Requirement already satisfied: mdurl~=0.1 in /Users/saleepshrestha/anaconda3/lib/python3.11/site-packages (from markdown-it-py>=2.2.0->rich->keras>=3.0.0->tensorflow~=2.16.1->tensorflow-decision-forests) (0.1.0)
Downloading tensorflow_decision_forests-1.9.0-cp311-cp311-macosx_12_0_arm64.whl (11.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.6/11.6 MB 7.6 MB/s eta 0:00:0000:0100:01
Downloading tf_keras-2.16.0-py3-none-any.whl (1.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.7/1.7 MB 8.5 MB/s eta 0:00:0000:0100:01
Installing collected packages: tf-keras, tensorflow-decision-forests
Successfully installed tensorflow-decision-forests-1.9.0 tf-keras-2.16.0
Note: you may need to restart the kernel to use updated packages.

In [14]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np
import tensorflow as tf
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import keras_tuner as kt
import keras
from keras import backend as K
import tensorflow_decision_forests as tfdf

In [15]:
pd.set_option('display.max_columns', 40)

In [16]:
training_df = pd.read_csv('train.csv')
testing_df = pd.read_csv('test.csv')

In [10]:
training_df.head()

,id,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,Mother's occupation,Father's occupation,Admission grade,Displaced,Educational special needs,Debtor,Tuition fees up to date,Gender,Scholarship holder,Age at enrollment,International,Curricular units 1st sem (credited),Curricular units 1st sem (enrolled),Curricular units 1st sem (evaluations),Curricular units 1st sem (approved),Curricular units 1st sem (grade),Curricular units 1st sem (without evaluations),Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,0,1,1,1,9238,1,1,126.0,1,1,19,5,5,122.6,0,0,0,1,0,1,18,0,0,6,6,6,14.500000,0,0,6,7,6,12.428571,0,11.1,0.6,2.02,Graduate
1,1,1,17,1,9238,1,1,125.0,1,19,19,9,9,119.8,1,0,0,1,0,0,18,0,0,6,8,4,11.600000,0,0,6,9,0,0.000000,0,11.1,0.6,2.02,Dropout
2,2,1,17,2,9254,1,1,137.0,1,3,19,2,3,144.7,0,0,0,1,1,0,18,0,0,6,0,0,0.000000,0,0,6,0,0,0.000000,0,16.2,0.3,-0.92,Dropout
3,3,1,1,3,9500,1,1,131.0,1,19,3,3,2,126.1,1,0,0,1,0,1,18,0,0,7,9,7,12.591250,0,0,8,11,7,12.820000,0,11.1,0.6,2.02,Enrolled
4,4,1,1,2,9500,1,1,132.0,1,19,37,4,9,120.1,1,0,0,1,0,0,18,0,0,7,12,6,12.933333,0,0,7,12,6,12.933333,0,7.6,2.6,0.32,Graduate

In [4]:
target_class = training_df['Target'].unique().tolist()
target_class

['Graduate', 'Dropout', 'Enrolled']

In [5]:
def change_target_to_values(x):
    return target_class.index(x)

def change_values_to_target(x):
    return target_class[x]

In [6]:
training_df['Target'] = training_df['Target'].apply(change_target_to_values)

In [ ]:
training_df.head()

In [ ]:
training_df.drop('id', axis=1).nunique()

In [ ]:
training_df.drop(['id'],axis=1).describe().drop('count').T

In [ ]:
training_df.info()

In [ ]:
misc_cols = ['id']
plt.figure(figsize=(20,20))
sns.heatmap(training_df.drop(misc_cols, axis=1).corr(), cmap='coolwarm', linewidth=0.1, robust=True, vmax=0.5, vmin=-0.5, center=0,)

In [7]:
training_set = training_df.sample(frac=0.9, random_state = 420).drop('id', axis=1)
validation_set = training_df.drop(training_set.index).drop('id', axis=1)

In [8]:
train_ds = tfdf.keras.pd_dataframe_to_tf_dataset(training_set, label='Target')
val_ds = tfdf.keras.pd_dataframe_to_tf_dataset(validation_set, label='Target')

Warning: Some of the feature names have been changed automatically to be compatible with SavedModels because fix_feature_names=True.
Warning: Some of the feature names have been changed automatically to be compatible with SavedModels because fix_feature_names=True.

In [20]:
tuner = tfdf.tuner.RandomSearch(num_trials=50)

tuner.choice("min_examples", [2, 5, 7, 10, 20, 30])
tuner.choice("categorical_algorithm", ["CART", "RANDOM"])


local_search_space = tuner.choice("growing_strategy", ["LOCAL"])
local_search_space.choice("max_depth", [3, 4, 5, 6, 8])

global_search_space = tuner.choice("growing_strategy", ["BEST_FIRST_GLOBAL"], merge=True)
global_search_space.choice("max_num_nodes", [16, 32, 64, 128, 256])

tuner.choice("use_hessian_gain", [True, False])
tuner.choice("shrinkage", [0.02, 0.05, 0.10, 0.15])
tuner.choice("num_candidate_attributes_ratio", [0.2, 0.5, 0.9, 1.0])

In [21]:
model= tfdf.keras.GradientBoostedTreesModel(tuner=tuner)
model.fit(train_ds)

Use /tmp/tmpwj_9a47n as temporary training directory
Reading training dataset...

[WARNING 24-06-25 00:47:14.3756 UTC gradient_boosted_trees.cc:1886] "goss_alpha" set but "sampling_method" not equal to "GOSS".
[WARNING 24-06-25 00:47:14.3757 UTC gradient_boosted_trees.cc:1897] "goss_beta" set but "sampling_method" not equal to "GOSS".
[WARNING 24-06-25 00:47:14.3757 UTC gradient_boosted_trees.cc:1911] "selective_gradient_boosting_ratio" set but "sampling_method" not equal to "SELGB".

Training dataset read in 0:00:02.672877. Found 68866 examples.
Training model...

[INFO 24-06-25 01:30:25.6733 UTC kernel.cc:1233] Loading model from path /tmp/tmpwj_9a47n/model/ with prefix e7d7b26ef8da4bf0

Model trained in 0:43:09.067416
Compiling model...

[INFO 24-06-25 01:30:26.1137 UTC decision_forest.cc:660] Model loaded with 900 root(s), 91898 node(s), and 36 input feature(s).
[INFO 24-06-25 01:30:26.1138 UTC abstract_model.cc:1344] Engine "GradientBoostedTreesGeneric" built
[INFO 24-06-25 01:30:26.1138 UTC kernel.cc:1061] Use fast generic engine

Model compiled.

In [22]:
model.compile(metrics=["accuracy"])
evaluation = model.evaluate(val_ds, return_dict=True)

for name, value in evaluation.items():
  print(f"{name}: {value:.4f}")

8/8 [==============================] - 1s 93ms/step - loss: 0.0000e+00 - accuracy: 0.8321
loss: 0.0000
accuracy: 0.8321

In [23]:
submission_ds = tfdf.keras.pd_dataframe_to_tf_dataset(testing_df.drop('id', axis=1))

Warning: Some of the feature names have been changed automatically to be compatible with SavedModels because fix_feature_names=True.

In [24]:
preds = model.predict(submission_ds)

52/52 [==============================] - 5s 90ms/step

In [25]:
testing_df

,id,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,Mother's occupation,Father's occupation,Admission grade,Displaced,Educational special needs,Debtor,Tuition fees up to date,Gender,Scholarship holder,Age at enrollment,International,Curricular units 1st sem (credited),Curricular units 1st sem (enrolled),Curricular units 1st sem (evaluations),Curricular units 1st sem (approved),Curricular units 1st sem (grade),Curricular units 1st sem (without evaluations),Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,76518,1,1,1,9500,1,1,141.0,1,3,1,2,3,152.1,0,0,0,0,0,0,18,0,0,7,0,0,0.000000,0,0,8,0,0,0.000000,0,13.9,-0.3,0.79,Dropout
1,76519,1,1,1,9238,1,1,128.0,1,1,19,4,5,116.5,0,0,0,1,0,0,19,0,0,6,7,6,14.857143,0,0,6,6,6,13.500000,0,11.1,0.6,2.02,Graduate
2,76520,1,1,1,9238,1,1,118.0,1,1,19,4,9,114.2,0,0,0,1,0,1,18,0,0,6,11,6,12.000000,0,0,6,11,5,11.000000,0,15.5,2.8,-4.06,Graduate
3,76521,1,44,1,9147,1,39,130.0,1,1,19,3,3,130.0,0,0,0,1,0,1,23,0,2,6,15,5,11.500000,0,3,8,14,5,11.000000,0,8.9,1.4,3.51,Graduate
4,76522,1,39,1,9670,1,1,110.0,1,1,37,5,5,106.0,1,0,0,1,0,0,26,0,0,6,9,3,11.000000,0,0,6,9,4,10.666667,2,7.6,2.6,0.32,Enrolled
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51007,127525,1,1,2,171,1,1,128.0,1,38,37,7,10,124.7,1,0,0,1,0,0,19,0,0,0,0,0,0.000000,0,0,0,0,0,0.000000,0,15.5,2.8,-4.06,Dropout
51008,127526,2,39,1,9119,1,19,133.1,1,19,37,9,9,140.0,0,0,1,0,1,0,33,0,0,5,6,0,0.000000,0,0,5,5,0,0.000000,0,9.4,-0.8,-3.12,Dropout
51009,127527,1,1,1,171,1,1,127.0,1,1,1,4,10,120.4,0,0,1,0,0,0,20,0,0,0,0,0,0.000000,0,0,0,0,0,0.000000,0,15.5,2.8,-4.06,Dropout
51010,127528,1,1,3,9773,1,1,132.0,1,19,19,5,5,126.3,1,0,1,0,0,0,18,0,0,6,8,5,12.600000,0,0,6,9,3,13.000000,0,7.6,2.6,0.32,Dropout
51011,127529,1,1,1,171,1,1,129.0,1,37,38,9,9,122.0,1,0,0,0,1,0,18,0,0,0,0,0,0.000000,0,0,0,0,0,0.000000,0,7.6,2.6,0.32,Dropout

In [26]:
testing_df['Target'] = [np.argmax(i) for i in preds]

In [27]:
testing_df['Target'] = testing_df['Target'].apply(change_values_to_target)

In [28]:
testing_df

,id,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,Mother's occupation,Father's occupation,Admission grade,Displaced,Educational special needs,Debtor,Tuition fees up to date,Gender,Scholarship holder,Age at enrollment,International,Curricular units 1st sem (credited),Curricular units 1st sem (enrolled),Curricular units 1st sem (evaluations),Curricular units 1st sem (approved),Curricular units 1st sem (grade),Curricular units 1st sem (without evaluations),Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,76518,1,1,1,9500,1,1,141.0,1,3,1,2,3,152.1,0,0,0,0,0,0,18,0,0,7,0,0,0.000000,0,0,8,0,0,0.000000,0,13.9,-0.3,0.79,Dropout
1,76519,1,1,1,9238,1,1,128.0,1,1,19,4,5,116.5,0,0,0,1,0,0,19,0,0,6,7,6,14.857143,0,0,6,6,6,13.500000,0,11.1,0.6,2.02,Graduate
2,76520,1,1,1,9238,1,1,118.0,1,1,19,4,9,114.2,0,0,0,1,0,1,18,0,0,6,11,6,12.000000,0,0,6,11,5,11.000000,0,15.5,2.8,-4.06,Graduate
3,76521,1,44,1,9147,1,39,130.0,1,1,19,3,3,130.0,0,0,0,1,0,1,23,0,2,6,15,5,11.500000,0,3,8,14,5,11.000000,0,8.9,1.4,3.51,Graduate
4,76522,1,39,1,9670,1,1,110.0,1,1,37,5,5,106.0,1,0,0,1,0,0,26,0,0,6,9,3,11.000000,0,0,6,9,4,10.666667,2,7.6,2.6,0.32,Enrolled
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51007,127525,1,1,2,171,1,1,128.0,1,38,37,7,10,124.7,1,0,0,1,0,0,19,0,0,0,0,0,0.000000,0,0,0,0,0,0.000000,0,15.5,2.8,-4.06,Dropout
51008,127526,2,39,1,9119,1,19,133.1,1,19,37,9,9,140.0,0,0,1,0,1,0,33,0,0,5,6,0,0.000000,0,0,5,5,0,0.000000,0,9.4,-0.8,-3.12,Dropout
51009,127527,1,1,1,171,1,1,127.0,1,1,1,4,10,120.4,0,0,1,0,0,0,20,0,0,0,0,0,0.000000,0,0,0,0,0,0.000000,0,15.5,2.8,-4.06,Dropout
51010,127528,1,1,3,9773,1,1,132.0,1,19,19,5,5,126.3,1,0,1,0,0,0,18,0,0,6,8,5,12.600000,0,0,6,9,3,13.000000,0,7.6,2.6,0.32,Dropout
51011,127529,1,1,1,171,1,1,129.0,1,37,38,9,9,122.0,1,0,0,0,1,0,18,0,0,0,0,0,0.000000,0,0,0,0,0,0.000000,0,7.6,2.6,0.32,Dropout

In [29]:
submission = testing_df[['id','Target']]

In [30]:
submission.to_csv('kapil_submission_v9.csv', index=False)